.about {
	padding-top: 34px;
	padding-bottom: 38px;
	min-height: 500px;
	background-color: var(--dark-color);

	@include tablet {
		padding-bottom: 81px;
	}

	@include small-tablet {
		padding-bottom: 62px;
	}

	@include mobile {
		padding-top: 32px;
		padding-bottom: 60px;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: var(--grid-gap);

		@include big-mobile {
			grid-template-columns: repeat(6, 1fr);
			gap: 22px;
		}
	}

	&__item {
		grid-column: 6 span;
	}

	&__title {
		margin: 0;
		margin-bottom: 4px;
		color: var(--light-color);

		@include mobile {
			margin-bottom: 2px;
			font-size: 18px;
			line-height: 23px;
		}
	}

	&__descr {
		margin: 0;
		margin-top: 3px;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 28px;
		color: var(--silver-color);

		@include mobile {
			font-size: 14px;
			line-height: 25px;
		}
	}

	&__img {
		margin-bottom: 21px;

		@include small-desktop {
			height: 280px;
		}

		@include high-tablet {
			height: 332px;
		}

		@include small-tablet {
			height: 569px;
		}

		@include big-mobile {
			height: 278px;
		}
	}

	&__subtitle {
		margin: 0;
		margin-bottom: 16px;
		font-family: 'TTFirsNeue';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 22px;
		color: var(--light-color);

		@include mobile {
			font-size: 18px;
		}
	}

	&__form {
		display: flex;
		width: 100%;

		@include tablet {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__label {
		position: relative;
		width: 100%;
		font-style: normal;
		font-weight: 400;
		font-size: 9px;
		line-height: 11px;
	}

	.just-validate-error-label {
		position: absolute;
		color: var(--sienna-color) !important;
		transform: translate(24px, -47px);

		@include tablet {
			transform: translate(24px, -65px);
		}
	}

	.just-validate-error-field {
		border: 1px solid var(--sienna-color);
	}

	&__input {
		width: 94%;
		height: 50px;
		margin-right: 30px;
		padding: 15px 23px;
		font-weight: 400;
		font-size: 18px;
		line-height: 26px;
		color: var(--light-color);
		background-color: var(--tundora-color);
		border: 1px solid transparent;
		outline: none;

		@include tablet {
			width: 73%;
			margin-bottom: 19px;
		}

		@include small-tablet {
			width: 100%;
		}

		@include mobile {
			height: 40px;
			font-size: 14px;
			line-height: 16px;
		}

		&:focus-visible {
			color: var(--silver-color);
			border: 1px solid var(--accent-color);
		}

		&:hover::-webkit-input-placeholder {
			color: var(--accent-color);
		}

		&:hover::-moz-placeholder {
			color: var(--accent-color);
		}

		&:hover:-ms-input-placeholder {
			color: var(--accent-color);
		}

		&:hover::-ms-input-placeholder {
			color: var(--accent-color);
		}

		&:hover::placeholder {
			color: var(--accent-color);
		}
	}

	&::-webkit-input-placeholder {
		background-color: var(--silver-color);
	}

	&::-moz-placeholder {
		background-color: var(--silver-color);
	}

	&:-ms-input-placeholder {
		background-color: var(--silver-color);
	}

	&::-ms-input-placeholder {
		background-color: var(--silver-color);
	}

	&::placeholder {
		background-color: var(--silver-color);
	}

	&__btn {
		padding: 10px 27px;
		min-width: 126px;
		height: 50px;

		@include tablet {
			padding: 10px 19px;
		}

		@include tablet {
			padding: 10px 14px;
			min-width: 115px;
			height: 40px;
			font-size: 14px;
			line-height: 16px;
		}
	}
}
