.burger {
	display: none;
	position: relative;
	width: 20px;
	height: 18px;
	background-color: transparent;
	transform: translateY(13px);
	cursor: pointer;

	@include mobile {
		display: block;
		// grid-column: 1 span;
		// grid-row: 2;
		margin-left: var(--container-offset);
	}

	&__line {
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		height: 2px;
		background-color: var(--light-color);
		transform: translateY(-50%);
		transition: opacity 0.3s ease-in-out;

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: var(--light-color);
			transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
				bottom 0.3s ease-in-out;
		}

		&::before {
			top: -8px;
		}

		&::after {
			bottom: -8px;
			width: 50%;
		}
	}

	&--active &__line {
		opacity: 0;
	}
}

.burger-close {
	position: relative;
	display: none;
	position: absolute;
	top: 13px;
	left: 20px;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	background-image: url(../img/cross.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--dusty-color);
	outline: none;

	@include mobile {
		display: block;
	}
}

.stop-scroll {
	overflow: hidden;
}

.header__wrapper {
	display: none;
	grid-column: 2 span;
	grid-row: 2;

	background-color: var(--tundora-color);
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	// margin-left: var(--container-offset);

	@include mobile {
		display: block;
	}
}
