.footer {
	padding-top: 24px;
	padding-bottom: 16px;
	min-height: 106px;
	background-color: var(--dark-color);

	&__container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__logo {
		@include flex-col-center;
		min-width: 263px;
	}

	&__logo-img {
		margin: 0;
		margin-bottom: 5px;
	}

	&__copyright {
		margin: 0;
		font-family: 'TTFirsNeue';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		color: var(--mercury-color);
	}

	&__quote {
		@include flex-col-center;
		max-width: 361px;
		transform: translateX(-76px);
	}

	&__text {
		margin: 0;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: var(--silver-color);

		&--right {
			margin-bottom: 10px;

			@include high-tablet {
				width: 161px;
			}
		}
	}

	&__social {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		align-content: flex-end;
	}
}
