.header {
	background-color: var(--dark-color);

	&__container {
		@include flex-v-center;

		min-height: 80px;

		.logo {
			margin-right: 139px;
			outline: none;

			@include tablet {
				width: 166px;
				height: 27px;
				margin-right: 82px;
			}
		}
	}
}
