.nav {
	grid-column: 4 / 11;

	@include small-tablet {
		grid-column: 6 span;
		grid-row: 2 / 3;
		padding: 12px var(--container-offset);
		background-color: var(--tundora-color);
	}

	@include mobile {
		display: none;
		grid-column: 2 span;
		grid-row: 2 / 3;
		height: 45px;
	}

	&__list {
		@include flex-all-sb;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__link {
		position: relative;
		z-index: 1;
		outline: none;
		font-family: 'TTFirsNeue';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		color: var(--light-color);
		transition: color 0.3s ease-in-out;

		&::after {
			content: '';
			position: absolute;
			inset: -4px;
			z-index: -1;
			background-color: var(--tuscany-color);
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}

		&:focus-visible {
			&:not(:active)::after {
				opacity: 1;
			}
		}

		&:hover:not(:active) {
			color: var(--accent-color);
		}

		&:active {
			color: var(--active-color);
		}
	}
}
