.nav {
	width: calc(57% + 8px);
	&__list {
		@include flex-all-sb;

		width: 100%;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__link {
		position: relative;
		z-index: 1;
		outline: none;
		font-family: 'TTFirsNeue';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		color: var(--light-color);
		transition: color 0.3s ease-in-out;

		&::after {
			content: '';
			position: absolute;
			inset: -4px;
			z-index: -1;
			background-color: var(--tuscany-color);
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}

		&:focus-visible {
			&::after {
				opacity: 1;
			}
		}

		&:hover {
			color: var(--accent-color);
		}

		&:active {
			color: var(--active-color);
		}
	}
}
