.projects {
	padding-top: 72px;
	padding-bottom: 34px;
	background-color: var(--light-color);

	@include mobile {
		padding-top: 50px;
	}

	&__title {
		margin-bottom: 14px;

		@include mobile {
			font-size: 18px;
			line-height: 23px;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(2, minmax(300px, 1fr));
		gap: var(--grid-gap);

		@include tablet {
			grid-template-columns: repeat(8, 1fr);
			grid-template-rows: repeat(1, minmax(285px, 1fr));
			row-gap: 24px;
		}
		@include small-tablet {
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: repeat(1, minmax(300px, 1fr));
			gap: var(--grid-gap);
		}

		@include mobile {
			grid-template-columns: repeat(2, 1fr);
			// grid-template-rows: repeat(6, minmax(278px, 1fr));
			gap: 25px;
		}
	}

	&__item {
		&:nth-child(1) {
			grid-column: 2 span;

			@include mobile {
				grid-row: 1 / 2;
				min-height: 278px;
			}
		}

		&:nth-child(2) {
			grid-column: 2 span;

			@include mobile {
				grid-row: 2 / 3;
			}
		}

		&:nth-child(3) {
			grid-column: 2 span;

			@include tablet {
				grid-column: 4 span;
			}

			@include small-tablet {
				grid-column: 2 span;
			}

			@include mobile {
				grid-row: 3 / 4;
			}
		}

		&:nth-child(4) {
			background-color: var(--dusty-color);
			grid-column: 6 span;

			@include tablet {
				grid-column: 5 span;
				min-height: 307px;
			}

			@include small-tablet {
				grid-column: 6 span;
				min-height: 300px;
			}

			@include mobile {
				grid-column: 2 span;
				grid-row: 4 / 5;
				min-height: 422px;
			}
		}

		&:nth-child(5) {
			background-color: var(--dusty-color);
			grid-column: 6 span;

			@include tablet {
				grid-column: 5 span;
			}

			@include small-tablet {
				grid-column: 6 span;
				min-height: 300px;
			}

			@include mobile {
				grid-column: 2 span;
				grid-row: 7 / 8;
				min-height: 422px;
			}
		}

		&:nth-child(6) {
			grid-column: 3 span;

			@include tablet {
				grid-column: 6 / 9;
				grid-row: 2 / 3;
				height: 307px;
			}
			@include small-tablet {
				grid-column: 3 span;
				grid-row: 3 / 4;
				height: 300px;
			}
			@include mobile {
				grid-column: 2 span;
				grid-row: 5 / 6;
				height: 300px;
			}
		}

		&:nth-child(7) {
			grid-column: 3 span;

			@include tablet {
				grid-column: 1 / 4;
				grid-row: 3;
				height: 307px;
			}

			@include small-tablet {
				grid-column: 3 span;
				grid-row: 3 / 4;
				height: 300px;
			}

			@include mobile {
				grid-column: 2 span;
				grid-row: 6 / 7;
				height: 300px;
			}
		}
	}

	.project {
		height: 100%;
	}
}

.project {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: var(--light-color);

	&__img {
		margin-bottom: 14px;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			width: 466px;
			height: 184px;
		}
	}

	&__hash {
		position: absolute;
		top: 7px;
		right: 7px;
		padding: 6px 14px;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		color: var(--light-color);
		background-color: var(--dark-color);

		@include mobile {
			top: 5px;
			right: 5px;
			padding: 4px 14px;
			font-size: 12px;
			line-height: 14px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-grow: 1;

		@include mobile {
			flex-grow: 0;
		}
	}

	&__descr {
		margin: 0;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: var(--dark-color);

		@include high-tablet {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			width: 100%;
			overflow: hidden;
		}

		@include tablet {
			&--1,
			&--2,
			&--3 {
				-webkit-line-clamp: 2;
			}

			&--6,
			&--7 {
				-webkit-line-clamp: 3;
			}
		}

		@include small-tablet {
			&--1,
			&--2 {
				-webkit-line-clamp: 3;
			}
		}
	}

	&__date {
		margin-top: auto;
		padding-left: 18px;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 22px;
		color: var(--dusty-color);

		background-image: url('../img/calendar.svg');
		background-position: left center;
		background-size: 14px 14px;
		background-repeat: no-repeat;

		&--light {
			margin: 0;
			margin-bottom: 2px;
			color: var(--light-color);

			background-image: url('../img/calendar-light.svg');
			background-position: left center;
			background-size: 14px 14px;
			background-repeat: no-repeat;
		}
	}

	&--4,
	&--5 {
		justify-content: flex-start;
		padding: 22px 30px 30px 30px;
		background-image: url('../img/project-4.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		@include tablet {
			padding-top: 30px;
		}

		@include mobile {
			justify-content: flex-end;
			padding-bottom: 33px;
		}

		.project__descr--light {
			display: flex;
			max-width: 67%;
			margin: 0;
			margin-bottom: 15px;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			color: var(--light-color);

			@include small-tablet {
				max-width: 45%;
			}

			@include mobile {
				max-width: 100%;
				font-size: 14px;
				line-height: 18px;
			}
		}

		.project__date {
			margin-top: 0;
		}

		.btn--stroke {
			align-items: flex-start;

			@include small-tablet {
				width: 18%;
				padding: 12px 10px;
			}
			@include mobile {
				min-width: 109px;
				padding: 7px 13px;
			}
		}
	}

	&--4 {
		@include tablet {
			padding-bottom: 37px;
		}

		@include small-tablet {
			padding-bottom: 29px;
		}

		@include mobile {
			background-image: url('../img/project-4-320.jpg');
		}
	}

	&--5 {
		background-image: url('../img/project-5.jpg');
	}

	&__title {
		display: flex;
		max-width: 50%;
		margin: 0;
		margin-bottom: 6px;
		font-family: 'TTFirsNeue';
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 24px;

		color: var(--light-color);

		@include small-tablet {
			max-width: 45%;
		}
	}
}
