.search {
	// display: flex;
	grid-column: 12;
	position: relative;
	margin-left: auto;

	@include small-tablet {
		grid-column: 6;
		grid-row: 1;
	}

	@include mobile {
		grid-column: 2;
		grid-row: 1;
	}

	&__btn {
		position: relative;
		outline: none;

		@include small-tablet {
			padding-right: var(--container-offset);
		}

		&::after {
			position: absolute;
			content: '';
			inset: -5px;
		}
		svg {
			width: 25px;
			height: 25px;
			fill: var(--light-color);

			@include mobile {
				width: 20px;
				height: 20px;
			}
		}

		&:focus svg {
			fill: var(--tuscany-color);
			transition: fill 0.3s ease-in-out;
		}
	}

	.search-form {
		display: none;
		position: absolute;
		top: 50%;
		right: 0;
		align-items: center;
		padding: 20px;
		padding-right: 0;
		transform: translateY(-50%);
		background-color: var(--dark-color);
		z-index: 1;

		@include small-tablet {
			padding-right: var(--container-offset);
		}

		&__input {
			margin-right: 25px;
			padding-right: 45px;
			border: none;
			border-bottom: 1px solid var(--light-color);
			font-family: 'TTFirsNeue';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			color: var(--light-color);
			background-color: var(--dark-color);
			outline: none;
			transform-origin: right;

			@include mini-tablet {
				margin-right: 32px;
				width: 311px;
				font-size: 16px;
				line-height: 21px;
			}

			@include mobile {
				margin-right: 28px;
				width: 250px;
				font-size: 14px;
				line-height: 18px;
			}

			&:hover {
				border-bottom: 1px solid var(--accent-color);
			}

			&:focus {
				border-bottom: 1px solid var(--active-color);
			}

			&::-webkit-input-placeholder {
				color: var(--light-color);
			}

			&::-moz-placeholder {
				color: var(--light-color);
			}

			&:-ms-input-placeholder {
				color: var(--light-color);
			}

			&::-ms-input-placeholder {
				color: var(--light-color);
			}

			&::placeholder {
				color: var(--light-color);
			}
		}

		&__close {
			position: absolute;
			top: 15px;
			right: 0;
			border-radius: 100%;
			width: 23px;
			height: 23px;
			background-image: url(../img/cross.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-color: var(--dusty-color);
			outline: none;

			@include small-tablet {
				margin-right: var(--container-offset);
			}

			@include mobile {
				top: 20px;
				width: 18px;
				height: 18px;
			}

			svg {
				width: 23px;
				height: 23px;
			}
		}
	}
}
