.social {
	@include flex-v-center;

	flex-wrap: wrap;
	max-width: 170px;
	margin-bottom: -20px;

	&__item {
		@include mr(20px);
		margin-bottom: 20px;
	}

	&__link {
		display: block;
		width: 30px;
		height: 30px;

		svg {
			display: block;
			width: 100%;
			height: 100%;
			fill: var(--silver-color);
			-o-object-fit: cover;
			object-fit: cover;
			transition: fill 0.3s ease-in-out;
		}

		&:focus-visible {
			outline: none;
			svg {
				fill: var(--tuscany-color);
			}
		}

		&:hover {
			svg {
				fill: var(--accent-color);
			}
		}

		&:active {
			svg {
				fill: var(--active-color);
			}
		}
	}
}
