.workshop {
	padding-top: 41px;
	padding-bottom: var(--section-gap);
	background-color: var(--light-color);

	@include high-tablet {
		padding-bottom: 68px;
	}

	@include tablet {
		padding-top: 34px;
	}

	@include small-tablet {
		padding-top: 36px;
	}

	@include mobile {
		padding-top: 30px;
		padding-bottom: 7px;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(1, 630px);
		gap: var(--grid-gap);

		@include tablet {
			grid-template-rows: repeat(1, 623px);
		}

		@include small-tablet {
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: repeat(1, 452px);
		}

		@include big-mobile {
			grid-template-rows: repeat(1, 470px);
		}

		@include mobile {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 422px);
		}
	}

	&__item {
		grid-column: 6 span;

		@include small-tablet {
			grid-column: 3 span;
		}
		@include small-tablet {
			grid-column: 3 span;
		}

		@include mobile {
			grid-column: 2 span;
		}
	}

	&__left {
		min-height: 630px;

		@include small-tablet {
			min-height: 452px;
		}

		@include big-mobile {
			min-height: 470px;
		}

		@include mobile {
			min-height: 422px;
		}
	}

	&__right {
		@include mobile {
			padding-top: 5px;
		}
	}

	.works {
		&__list {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			gap: var(--grid-gap);

			// @include mobile {
			// 	grid-template-columns: repeat(2, 1fr);
			// }

			.works__item--1 {
				grid-column: 6 span;
			}
			.works__item--2 {
				grid-column: 3 span;
			}
			.works__item--3 {
				grid-column: 3 span;
			}
		}

		&__title {
			@include tablet {
				margin-bottom: 25px;
			}

			@include small-tablet {
				font-size: 22px;
				margin-bottom: 15px;
			}

			@include mini-tablet {
				font-size: 18px;
				margin-bottom: 24px;
			}

			@include mobile {
				margin-bottom: 15px;
			}
		}
		&__image {
			display: block;

			&--1 {
				@include small-desktop {
					height: 332px;
				}

				@include small-tablet {
					height: 228px;
				}

				@include mobile {
					height: 187px;
				}
			}

			&--2,
			&--3 {
				@include small-desktop {
					height: 200px;
				}

				@include tablet {
					height: 186px;
				}

				@include small-tablet {
					height: 133px;
				}

				@include mobile {
					height: 105px;
				}
			}
		}
	}

	&__article {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		min-height: 630px;
		padding: 60px;
		position: relative;
		background-image: url('../img/pic-main.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		@include high-tablet {
			padding: 60px 30px;
		}

		@include tablet {
			min-height: 623px;
			padding: 30px;

			background-image: url('../img/pic-main-1024.jpg');
		}

		@include small-tablet {
			min-height: 452px;
			padding: 30px 28px;

			background-image: url('../img/pic-main-768.jpg');
		}

		@include big-mobile {
			min-height: 470px;
		}

		@include mobile {
			min-height: 422px;
			padding: 30px 28px;

			background-image: url('../img/pic-main-320.jpg');
		}
	}

	&__hash {
		padding: 7px 15px;
		position: absolute;
		top: 15px;
		right: 15px;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: var(--light-color);
		background-color: var(--dark-color);

		@include mobile {
			padding: 4px 7px;
			top: 6px;
			right: 6px;
			font-size: 12px;
			line-height: 14px;
		}
	}

	&__title-text {
		margin: 0;
		margin-bottom: 3px;
		display: block;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 17px;
		color: var(--light-color);

		@include tablet {
			margin-bottom: 9px;
		}

		@include small-tablet {
			margin-bottom: 16px;
		}

		@include mobile {
			font-size: 13.5px;
			line-height: 16px;
			margin-bottom: 8px;
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 19px;
		font-family: 'TTFirsNeue';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 104%;
		color: var(--light-color);

		@include tablet {
			margin-bottom: 22px;
			font-size: 34px;
			line-height: 1;
		}

		@include small-tablet {
			margin-bottom: 23px;
			font-size: 34px;
			line-height: 90%;
		}

		@include mobile {
			margin-bottom: 14px;
			font-size: 24px;
			line-height: 110%;
		}
	}

	&__link {
		@include small-tablet {
			padding: 12.5px 20px;
			min-width: 159px;
		}

		@include mobile {
			padding: 9px 17px;
			min-width: 147px;
			font-size: 14px;
			line-height: 16px;
		}
	}
}
