.workshop {
	padding-top: 41px;
	padding-bottom: var(--section-gap);
	background-color: var(--light-color);

	@include high-tablet {
		padding-bottom: 68px;
	}

	@include tablet {
		padding-top: 34px;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(1, 630px);
		gap: var(--grid-gap);

		@include tablet {
			grid-template-rows: repeat(1, 623px);
		}
	}

	&__item {
		grid-column: 6 span;
	}

	&__left {
		min-height: 630px;
	}

	.works {
		&__list {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			gap: var(--grid-gap);

			.works__item--1 {
				grid-column: 6 span;
			}
			.works__item--2 {
				grid-column: 3 span;
			}
			.works__item--3 {
				grid-column: 3 span;
			}
		}

		&__title {
			@include tablet {
				margin-bottom: 25px;
			}
		}
		&__image {
			display: block;

			&--1 {
				@include small-desktop {
					height: 332px;
				}
			}

			&--2 {
				@include small-desktop {
					height: 200px;
				}

				@include tablet {
					height: 186px;
				}
			}

			&--3 {
				@include small-desktop {
					height: 200px;
				}

				@include tablet {
					height: 186px;
				}
			}
		}
	}

	&__article {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		min-height: 630px;
		padding: 60px;
		position: relative;
		background-image: url('../img/pic-main.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		@include high-tablet {
			padding: 60px 30px;
		}

		@include tablet {
			min-height: 623px;
			padding: 30px;

			background-image: url('../img/pic-main-1024.jpg');
		}
	}

	&__hash {
		padding: 7px 15px;
		position: absolute;
		top: 15px;
		right: 15px;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: var(--light-color);
		background-color: var(--dark-color);
	}

	&__title-text {
		margin: 0;
		margin-bottom: 3px;
		display: block;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 17px;
		color: var(--light-color);

		@include tablet {
			margin-bottom: 9px;
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 19px;
		font-family: 'TTFirsNeue';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 104%;
		color: var(--light-color);

		@include tablet {
			margin-bottom: 22px;
			font-size: 34px;
			line-height: 1;
		}
	}
}
