<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title section-title">Контакты</h2>
    <div class="contacts__wrapper">
      <div class="contacts__item map-container">
        <div class="map" id="map"></div>
        <div class="map-container__content address">
          <div class="address__wrapper">
            <h3 class="map-container__title address__title">
              Студия «High pass»
            </h3>
            <div class="address__content">
              <p class="map-container__descr address__descr">
                107045, Москва, Даев переулок, дом&nbsp;41, бизнес-центр &laquo;Даев Плаза&raquo;,
                этаж&nbsp;8, офис &#8470;&nbsp;82
              </p>
              <a href="tel:+749542423532" class="phone map-container__phone address__phone">+7 495 424-23-532</a>
            </div>

          </div>
          <button class="address__btn btn-reset"></button>
        </div>
      </div>
      <div class="contacts__item">
        <div class="contacts__order">
          <h3 class="contacts__subtitle">Оставить заявку</h3>
          <p class="contacts__descr">
            Оставьте ваши данные, указав в графе «Комментарий» желаемые время
            и дату съёмки или другого мероприятия
          </p>
        </div>
        <form action="#" class="contacts__form">
          <label class="contacts__label">
            <input type="text" name="Имя" class="input-reset contacts__input contacts__input-name" placeholder="Имя">
          </label>
          <label class="contacts__label">
            <input type="email" name="E-mail" class="input-reset contacts__input contacts__input-email"
              placeholder="Email">
          </label>
          <label class="contacts__label">
            <textarea name="comments" class="contacts__input contacts__input--textarea" id="comments"
              placeholder="Комментарий"></textarea>
          </label>
          <button class="btn-reset btn contacts__btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
