<footer class="footer">
	<div class="container footer__container">
		<div class="footer__logo">
			<a href="#" class="logo footer__logo-img">
				<img
					loading="lazy"
					src="img/logo.svg"
					class="image"
					width="190"
					height="30"
					alt="Логотип RoboSchool"
				/>
			</a>
			<small class="footer__copyright">Фотостудия High pass® 2018–2022</small>
		</div>
		<div class="footer__quote">
			<p class="footer__text">
				Которая из моих фотографий самая любимая? Та, которую я собираюсь снять
				завтра.
			</p>
			<p class="footer__text">© Имоджен Каннингем</p>
		</div>
		<div class="footer__social">
			<p class="footer__text footer__text--right">Больше интересного:</p>
			<ul class="social list-reset">
				<li class="social__item">
					<a
						href="#"
						target="_blank"
						class="social__link"
						aria-label="Odnoklasniki"
					>
						<svg>
							<use xlink:href="img/sprite.svg#ok"></use>
						</svg>
					</a>
				</li>
				<li class="social__item">
					<a
						href="#"
						target="_blank"
						class="social__link"
						aria-label="Vkontakte"
					>
						<svg>
							<use xlink:href="img/sprite.svg#vk"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
