<header class="header">
  <div class="container header__container">
    <a href="#" class="logo">
      <img loading="lazy" src="img/logo.svg" class="image" width="190" height="30" alt="Логотип High Pass">
    </a>
    <nav class="nav header__nav" title="Главное меню" data-menu>
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#about" class="nav__link" data-menu-item data-scroll>О студии</a>
        </li>
        <li class="nav__item">
          <a href="#projects" class="nav__link" data-menu-item data-scroll>Наши проекты</a>
        </li>
        <li class="nav__item">
          <a href="#service" class="nav__link" data-menu-item data-scroll>Услуги</a>
        </li>
        <li class="nav__item">
          <a href="#workshop" class="nav__link" data-menu-item data-scroll>Мастер-классы</a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link" data-menu-item data-scroll>Контакты</a>
        </li>
      </ul>
      <a href="tel:+749542423532" class="phone nav__phone">+7 495 424-23-532</a>
      <button class="btn-reset burger-close" aria-label="Закрыть меню" data-menu-close></button>
    </nav>
    <div class="search">
      <button class="btn-reset search__btn js-search-btn">
        <svg class="">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </button>
      <form action="#" class="search-form js-form">
        <input class="search-form__input js-input" type="text" placeholder="Что будем искать?"
          onfocus="this.placeholder=''" onblur="this.placeholder='Что будем искать?'">
        <button class="btn-reset search-form__close js-search-close">
          <svg class="">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
      </form>
    </div>
    <!-- <form action="#" class="search">
      <label class="search__label">
        <input type="text" name="search" class="input-reset search__input" placeholder="Что будем искать?">
      </label>
      <button class="btn-reset search__btn">
        <svg class="">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </button>
    </form> -->
    <div class="header__wrapper">
      <button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
