<section class="projects" id="projects">
  <div class="container">
    <h2 class="projects__title section-title">Наши проекты</h2>
    <ul class="projects__list list-reset">
      <li class="projects__item">
        <article class="project project--1">
          <picture>
            <source srcset="img/project-1.avif" type="image/avif">
            <source srcset="img/project-1.webp" type="image/webp">
            <img loading="lazy" src="img/project-1.jpg" class="project__img" width="190" height="184"
              alt="Фотография пейзажа">
          </picture>
          <span class="project__hash">#пейзаж</span>
          <div class="project__content">
            <p class="project__descr project__descr--1">
              Синтетически, смешаны с не уникальными данными до степени…
            </p>
            <span class="project__date">16 июня</span>
          </div>
        </article>
      </li>
      <li class="projects__item">
        <article class="project project--2">
          <picture>
            <source srcset="img/project-2.avif" type="image/avif">
            <source srcset="img/project-2.webp" type="image/webp">
            <img loading="lazy" src="img/project-2.jpg" class="project__img" width="190" height="184"
              alt="Фотография пейзажа">
          </picture>
          <span class="project__hash">#портрет</span>
          <div class="project__content">
            <p class="project__descr project__descr--2">
              В своём стремлении улучшить опыт мы упускаем, что...
            </p>
            <span class="project__date">28 мая</span>
          </div>
        </article>
      </li>
      <li class="projects__item">
        <article class="project project--3">
          <picture>
            <source srcset="img/project-3.avif" type="image/avif">
            <source srcset="img/project-3.webp" type="image/webp">
            <img loading="lazy" src="img/project-3.jpg" class="project__img" width="190" height="184"
              alt="Фотография пейзажа">
          </picture>
          <span class="project__hash">#предмет</span>
          <div class="project__content">
            <p class="project__descr project__descr--3">
              Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада
            </p>
            <span class="project__date">14 мая</span>
          </div>
        </article>
      </li>
      <li class="projects__item">
        <article class="project project--4">
          <span class="project__hash project__hash">#fuji</span>
          <div class="project__content project__content--4">
            <span class="project__date project__date--light">9 марта</span>
            <h3 class="project__title">Cемантический разбор</h3>
            <p class="project__descr project__descr--light">
              В рамках спецификации современных стандартов, интерактивные
              прототипы
            </p>
          </div>
          <a href="#projects" class="project__btn btn btn--stroke btn-reset" data-scroll>О проекте</a>
        </article>
      </li>
      <li class="projects__item">
        <article class="project project--5">
          <span class="project__hash project__hash">#проектзабвение</span>
          <div class="project__content project__content--5">
            <span class="project__date project__date--light">20 марта</span>
            <h3 class="project__title">Забвение</h3>
            <p class="project__descr project__descr--light">
              Играет важную роль в формировании глубокомысленных рассуждений
            </p>
          </div>
          <a href="#projects" class="project__btn btn btn--stroke btn-reset" data-scroll>О проекте</a>
        </article>
      </li>
      <li class="projects__item">
        <article class="project project--6">
          <picture>
            <source srcset="img/project-6.avif" type="image/avif">
            <source srcset="img/project-6.webp" type="image/webp">
            <img loading="lazy" src="img/project-6.jpg" class="project__img" width="300" height="184"
              alt="Фотография пейзажа">
          </picture>
          <span class="project__hash">#ретушь</span>
          <div class="project__content">
            <p class="project__descr project__descr--6">
              Как принято считать, многие известные личности и по сей день
              остаются уделом либералов…
            </p>
            <span class="project__date">9 марта</span>
          </div>
        </article>
      </li>
      <li class="projects__item">
        <article class="project project--7">
          <picture>
            <source srcset="img/project-7.avif" type="image/avif">
            <source srcset="img/project-7.webp" type="image/webp">
            <img loading="lazy" src="img/project-7.jpg" class="project__img" width="300" height="184"
              alt="Фотография пейзажа">
          </picture>
          <span class="project__hash">#портрет</span>
          <div class="project__content">
            <p class="project__descr project__descr--7">
              С учётом сложившейся международной обстановки, новая модель
              организационной…
            </p>
            <span class="project__date">1 марта</span>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
