<section class="workshop" id="workshop">
	<div class="container">
		<h2 class="visually-hidden">О работах студии High Pass</h2>
		<ul class="workshop__list list-reset">
			<li class="workshop__item">
				<div class="workshop__left">
					<article class="workshop__article">
						<span class="workshop__hash">#мастеркласс</span>
						<h1 class="workshop__title">
							<span class="workshop__title-text"
								>Мастер-класс от Игоря Робова</span
							>
							Неоновый фотосет 2.0 7 июля 20:00
						</h1>
						<a href="#workshop" class="workshop__link btn btn-reset" data-scroll
							>Узнать больше</a
						>
					</article>
				</div>
			</li>
			<li class="workshop__item">
				<div class="workshop__right works">
					<h2 class="section-title">
						Работы участников предыдущего мастер-класса
					</h2>
					<ul class="works__list list-reset">
						<li class="works__item works__item--1">
							<picture>
								<source srcset="img/pic-1.avif" type="image/avif" />
								<source srcset="img/pic-1.webp" type="image/webp" />
								<img
									loading="lazy"
									src="img/pic-1.jpg"
									class="image"
									width="630"
									height="300"
									alt="Девушка в неоновом свете"
								/>
							</picture>
						</li>
						<li class="works__item works__item--2">
							<picture>
								<source srcset="img/pic-2.avif" type="image/avif" />
								<source srcset="img/pic-2.webp" type="image/webp" />
								<img
									loading="lazy"
									src="img/pic-2.jpg"
									class="image"
									width="300"
									height="257"
									alt="Девушка, смотрящая вперед"
								/>
							</picture>
						</li>
						<li class="works__item works__item--3">
							<picture>
								<source srcset="img/pic-3.avif" type="image/avif" />
								<source srcset="img/pic-3.webp" type="image/webp" />
								<img
									loading="lazy"
									src="img/pic-3.jpg"
									class="image"
									width="300"
									height="257"
									alt="Девушка, смотрящая вдаль"
								/>
							</picture>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</section>
